<div class="row">
    <div class="col-md-12 mt-4">
        <div class="card mb-3">
            <div class="card-header text-light text-white cardheader">Le hice una página al amor de mi vida</div>
            <div class="card-body">              
              <div class="row">
                <h5 class="card-title">Ana</h5>
              </div>
              <div class="row">
                <div class="col-md-12 imagen">
                  <img src="assets/ana.jpeg" class="img-fluid rounded " alt="">
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-md-4 mt-4">
                  <h4>Eres el amor de mi vida, te amo mucho pelona.</h4>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>