<div class="container-well">
  <nav class="d-flex justify-content-center text-light navbar sticky-top navbar-dark">
    <div class="col-md-12 logobackground">
      <img class="navimagelogo" src="assets/LOGO_AUTOMERCADEO.png" alt="logoAutoMercadeo">
    </div>
  </nav>
</div>


<div class="container-fluid">
<!--   <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button routerLink="/" class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Generar reporte de máquina vending</button>
      </li>
      <li class="nav-item" role="presentation">
        <button routerLink="/reportekiosko" class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Generar reporte de Kiosko</button>
      </li>
      <li class="nav-item" role="presentation">
        <button routerLink="/vereportes" class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Ver reportes</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      </div>
    </div> -->
    <router-outlet></router-outlet>
</div>